body{
    margin: 0;
    font-family: "Exo 2", Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

* {
    cursor: url(/media/cursor.png), pointer !important;
}

h1, h2, footer, .cta-title{
    font-family: Audiowide, sans-serif;
}

/* 
Reference
Background Specs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Hero and Footer: #1F2937
Button and CTA Background: #3882F6
Quote Section: #E5E7EB
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Text Specsu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Header Logo: 24px, #F9FAF8
Header Link and Hero Text: 18px, #E5E7EB
Hero Title: 48px, extra-bold, #F9FAF8
Content Title: 36px, extra-bold, #1F2937
Quote Text: 36px, light italic, #1F2937
Quote Source: 24px, extra-bold, #1F2937
*/

/* Body Styling */
.body-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}

/* Styling for Alignments and Design */
* > *{
    border: dotted 1px red;
}
/* Header Styling */
.header{
    background: #1F2937;
    border: dotted 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Header Content Styling */
.header img{
    height: 100px;
    width: auto;
}

.header ul li{
    list-style: none; 
}
.header ul li a{
    color: whitesmoke;
    text-decoration: none;
}

/* Header Flex Alignment */

.header-logo{
    display: flex;
    flex-direction: row;
    padding-left: 6em;
}

.header-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
    padding-inline-start: 0px;
    margin: 16px 6em 16px 16px;
}
/* Hero Styling */

.hero{
    /* Parallax Image Styling */
    background-image: url("./media/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Rest of CSS */
    border: dotted 2px black;
    color: white;
    padding: 2em 0px;
}

.hero button{
    width: fit-content;
    font-size: 24px;
    font-family: Audiowide;
    font-weight: 1000;
    background: #3882F6;
    color: white;
    padding: .6em .8em;
    border-radius: 36px;
    transition: ease .2s;
}
/* Button Hover Effect */
.hero button:hover{
    filter: drop-shadow(0 0 .4rem #3882F6);
    border: white; 
}
/* Hero Flex Alignment */

.hero-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;
    padding: 0px 24rem;
    filter: drop-shadow(0 0 1rem #3882F6);
    justify-content: center;
}

.hero-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 30px;
    font-weight: 1000;
    flex-grow: .5;
}

.hero-title{
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 8px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: gradient 7s ease infinite;
    border: #3882F6 solid 5px;
    border-radius: 12px;
    filter: drop-shadow(0 0 .75rem #1f2937cc);
    flex-grow: 0.25;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero-right{
    display: flex;
    align-items: center;
    flex-grow: 2; 
}

.hero-right img{
    width: 600px;
    border: #3882F6 groove 10px;
    border-radius: 12px;
}

/* Content Styling */
.content{
/* Parallax Image Styling */
    background-image: url("./media/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/* Rest of CSS */
    border: dotted 2px black;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-top h2{
    color: white;
    background-color: rgba(31, 41, 55, 0.8);
    padding: 6px 16px;
    border-radius: 24px
}

.content img{
    height: 150px;
    width: auto;
    display: flex;
    align-items: center;
    border: #3882F6 solid 5px;
    border-radius: 12px;
    filter: drop-shadow(0 0 .75rem blue);
}

.content-bottom{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 0px 12rem 6em;
    text-align: center;
    color: white;
}

.content-bottom h3{
    font-size: 1.5em;
    font-family: Audiowide, sans-serif, Helvetica;
}

.content-bottom p{
    font-size: 1.2em;
}

.content-bottom .warning{
    font-size: .8em;
}

.content-bottom p{
    margin: 0 0 1em 0;
}

.card-image{
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}
/* Testimnonial Styling */

.testimonial-banner{
    background-color:rgba(31, 41, 55, 1);
    text-align: center;
}

.testimonial {
    background-color: #1F2937;
}

.testimonial-text p{
    font-size: 24px;
    color: lightslategray;
    font-style: italic;
    text-align: center;
    margin: 0 16em;
}

.testimonial-source p{
    color: lightslategray;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 0 16em;
}



/* CTA Styling */
.cta {
    background: salmon;
    border: dotted 2px black;
}
/* Footer Styling */
.footer {
    background: lightgrey;
    border: dotted 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button Styling */

button {
    border-radius: 5px;
}
/* Text Formatting */

p, h1, h2 {
    margin: inherit;
}